@import url('https://fonts.googleapis.com/css2?family=Acme&family=Akshar:wght@300;400;500;600;700&family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Anek+Latin:wght@100;200;300;400;500;600;700;800&family=Anek+Malayalam:wght@100;200;300;400;500;600;700;800&family=Artifika&family=Barlow+Condensed:ital,wght@0,800;0,900;1,400;1,800&family=Bebas+Neue&family=Cairo:wght@200;600&family=Chelsea+Market&family=Coiny&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Courgette&family=Edu+SA+Beginner:wght@400;500;600;700&family=Edu+TAS+Beginner:wght@400;500;600;700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Indie+Flower&family=Itim&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,900&family=Kdam+Thmor+Pro&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Lobster&family=Macondo&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Pacifico&family=Patrick+Hand&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Red+Hat+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Righteous&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sansita+Swashed:wght@300;400;500;600;700;800;900&family=Secular+One&family=Shadows+Into+Light&family=Spline+Sans+Mono:wght@300;400;500;600;700&family=Staatliches&family=Trispace:wght@100;200;300;400;500;600;700;800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Varela+Round&family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: Ubuntu;
    overflow-x: hidden;
}
.home-page{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-page .container{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
}
.home-page .container h1{
    font-size: 10em;
    text-transform: capitalize;
}
.home-page .container h1::first-letter{
color:white;
text-shadow: 5px 1px 15px black;
}
.home-page .container p:first-child{
    font-size: 3em;
    letter-spacing: 0.1em;
}

.home-page .container p:nth-child(3){
    font-size: 2em;
    width: 100%;
    text-align: center;
    color: white;
    background-color: black;
    padding: 1em 0;
    border-right: solid 3px white;

}
.home-page .container .link{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 5em;
}
.home-page .container .link a{
    width: fit-content;
    display: block;
    position: relative;
    font-size: 2em;
    color: black;
    text-transform: uppercase;
    padding: 0.2em 0.5em;
    box-shadow: 0 0 15px black;
    border-radius: 0.2em;
    overflow: hidden;
}
.home-page .container .link a::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.15em;
    background-color: black;
}
.home-page .image{
    width: 50%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.home-page .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.produit{
    width: 100%;
    height: 100vh;
    position: relative;
}
.produit .title{
width: 100%;
padding: 1em;
font-size: 2em;
background-color: rgb(238, 103, 143);
}
.produit .container{
    width: 100%;
    height: 80%;
    position: relative;
   display: flex;
   justify-content: center;
   align-items: center;

}
.produit .container .all-box{
    width: 80%;
    height: 90%;
   
    display: grid;
    grid-template-columns: repeat(5 , 1fr);
    grid-template-rows: repeat(4 , 1fr);
    gap: 2em;
    box-shadow: 0 0 20px black;
    border-radius: 1em;
    padding: 1em;
}

.produit .container .all-box .box{
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px black;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.produit .container .all-box .box:nth-child(1){
    grid-column: span 3;
    grid-row: span 4;
    background: url(oile.jpg);
    background-position: center;
    background-size: cover;

}
.produit .container .all-box .box:nth-child(2){
    grid-column: span 2 ;
    grid-row: span 2;
    background: url(herbes.jpg);
    background-position: center;
    background-size: cover;

}
.produit .container .all-box .box:nth-child(3) ,
.produit .container .all-box .box:nth-child(4){
    background-color: rgb(238, 103, 143);
    display: flex;
    justify-content: center;
    align-items: center;
}


.produit .container .all-box .box:nth-child(5){
    grid-column: span  2;
    grid-row: span 1 ;
    background: url(olieasasi.jpg);
    background-position: left;
    background-size: cover;
}
.produit .container .all-box .box a{
    width: 100%;
    height: 100%;
    padding: 1em;
    display: block;
    font-size:2em ;
    color: black;
    font-weight: bold;
    text-transform: capitalize;
}